@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "RoomTech Ultra Instinct - Dashboard";
}

<div class="container mt-5">
    <h1 class="text-center">Welcome to RoomTech Ultra Instinct (RTUI)</h1>
    <p class="text-center">Choose an option to proceed:</p>
    <div class="text-center">
        <a class="btn btn-primary m-2" asp-action="CurrentProjects">View Current Projects</a>
        <a class="btn btn-success m-2" asp-action="NewProject">Create New Project</a>
    </div>
</div>
