@{
    ViewData["Title"] = "Create New Project";
}
<div class="container mt-5">
    <h2>Create New Project</h2>
    <p>Here, users will be able to select project types, languages, and features to generate a new project.</p>
</div>
